*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  padding: 40px;
  background-color: #151515;
  font-family: "Franklin Gothic Medium", Arial;
}

h2 {
  color: #f3f3f3;
  text-align: center; /* To center horizotally*/
  margin-bottom: 30px;
  font-size: 48px;
}

.card-container{
  
}
